<!DOCTYPE html>
<html lang="nl">

<head>
    <title>Mijn Blog</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html"><img src="foto/home.png" alt="pizza"></a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="https://www.bit-academy.nl/">Bit Academy</a></li>
        </ul>
    </nav>

    <h1>Mijn Blog</h1>
    <section>
        <article>
            <header>
                <h2>freerunnen</h2>
                <h3>vrij bewegen door de stad</h3>
            </header>
            <p>Een van mijn grootste hobby is freerunnen. Ik vind het geweldig om door de stad te bewegen en creatieve
                routes te vinden over muren en obstakels.</p>
        </article>

        <article>
            <header>
                <h2>gamen</h2>
                <h3>even over niks na te hoeven denken</h3>
            </header>
            <p>Naast freerunnen ben ik veel bezig met gamen. Ik speel vooral strategie- en avonturenspellen, omdat ik
                hou van uitdaging en puzzels oplossen.</p>
        </article>

        <article>
            <header>
                <h2>koken</h2>
                <h3>de lekkerste gerechten maken</h3>
            </header>
            <p>Ik ben ook gek op koken. Ik probeer vaak nieuwe recepten uit, vooral Italiaanse gerechten zoals pasta en
                pizza.</p>
        </article>
    </section>


    <footer>
        <p>Copyright &copy;
            <script type="text/javascript">
                var theDate = new Date()
                document.write(theDate.getFullYear()); 
            </script> | Mijn website | Contact: 186369@student.talland.nl
        </p>
    </footer>
</body>

</html>