<!DOCTYPE html>
<html lang="nl">

<head>
    <title>website van daninoontje</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <nav>
        <ul>
            <li><a href="index.html"><img src="foto/home.png" alt="pizza"></a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="https://www.bit-academy.nl/">Bit Academy</a></li>
        </ul>
    </nav>

    <h1>Dani</h1>

    <h2><span style="color: rgb(0, 51, 255);">hobby's</span></h2>
    <p>Mijn grootste hobby is freerunnen:</p>
    <ul>
        <li><a href="https://nl.wikipedia.org/wiki/Freerunnen">Freerunnen</a></li>
    </ul>

    <h2><span style="color: rgb(0, 51, 255);">favoriete series</span></h2>
    <p>Mijn favoriete serie is te vinden op YouTube:</p>
    <a href="https://www.youtube.com/watch?v=GMk3XcEFxL4">kasteel</a>
    <ol>
        <li>Een man die LEGO-blokken op ware grootte 3D print</li>
    </ol>

    <div class="over-mij">
        <h2>Over <span style="color: rgb(255, 255, 224);">mij</span></h2>
        <p>Hallo! Ik ben dani en ik hou van freerunnen, 3D-printen en het maken van creatieve projecten. In mijn
            vrije tijd experimenteer ik graag met nieuwe hobby's en leer ik graag nieuwe dingen.</p>
    </div>

    <img src="foto/foto.jpg" alt="pizza">

    <footer>
        <p>Copyright &copy;
            <script type="text/javascript">
                var theDate = new Date()
                document.write(theDate.getFullYear()); 
            </script> | Mijn website | Contact: 186369@student.talland.nl
        </p>
    </footer>

</body>

</html>