.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: blue;
}

.container>div {
    background-color: aqua;
    width: 200px;
}